<% title %>
<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<div class="account-form">
    <form action="/account/signup" method="post">
        <label for="account_firstname">First Name: <br>
            <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">
        </label>
        
        <label for="last_name">Last Name: <br>
            <input type="text" id="last_name" name="account_lastname" placeholder="Doe"  required value="<%= locals.account_lastname%>">
        </label>
        
        <label for="account_email">Email: <br>
            <input type="email" id="account_email" name="account_email" placeholder="Enter a valid email address"  required value="<%= locals.account_email %>">
        </label>
       
        <label for="account_password">Password: <br>
            <span>Password must be at least 12 characters, must contain at least a number, a lowercase letter, a capital letter, and a non-alphanumeric character.</span>
            <div class="password-field-container">
                <input type="password" id="account_password" name="account_password" placeholder="Password" required>
                <!-- <button id="hide-show-btn">Show</button> -->
            </div>
        </label>
        
        <button type="submit">Sign Up</button>
    </form>
    <span class="sign-in-text">Already have an account? <a href="/account/login">Login</a></span>
</div>